export BORG_REPO='ssh://user@backup-server:/mnt/backups/documents'
export BORG_PASSPHRASE='DocsBackupWachtwoord!'
export BACKUP_PATHS="/home/user/Documents /home/user/Work"
export PRUNE_KEEP_DAILY=5
export PRUNE_KEEP_WEEKLY=3
export PRUNE_KEEP_MONTHLY=6