export BORG_REPO='/mnt/local_backup/photos'
export BORG_PASSPHRASE='LocalPhotoPass123'
export BACKUP_PATHS="/home/user/Pictures"
export PRUNE_KEEP_DAILY=3
export PRUNE_KEEP_WEEKLY=2
export PRUNE_KEEP_MONTHLY=2