export BORG_REPO='ssh://user@server2:/backups/photos'
export BORG_PASSPHRASE='Server2UltraSecure!'
export BACKUP_PATHS="/home/user/Pictures"
export PRUNE_KEEP_DAILY=7
export PRUNE_KEEP_WEEKLY=4
export PRUNE_KEEP_MONTHLY=6
